.add-product-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.add-product-container {
  width: 100%;
  max-width: 450px;
  border: 3px solid var(--oblic);
  padding: 40px 50px;
  background-color: var(--secondary);
  box-shadow: var(--shadow);
  position: relative;
  border-radius: 10px;
}

.add-product-container h2 {
  color: var(--primary);
  text-align: center;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 700;
}

.close-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.25rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary);
  cursor: pointer;
  background: none;
  border: 2px solid var(--primary);
  border-radius: 100%;
  transition: all 0.2s;
}
.close-btn:hover {
  background-color: var(--accent);
  color: var(--secondary);
  box-shadow: 4px 4px 0px var(--primary);
  transform: translate(-2px, -2px);
}

.input-group {
  margin-bottom: 20px;
  position: relative;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--primary);
}

input {
  width: 100%;
  padding: 12px 15px;
  border: 2px solid var(--primary);
  background-color: var(--secondary);
  font-size: 16px;
  outline: none;
  transition: all 0.3s;
}

input:focus {
  box-shadow: 4px 4px 0px var(--primary);
}

button.add-product-btn {
  width: 100%;
  padding: 12px;
  background-color: var(--accent);
  color: var(--secondary);
  border: 2px solid var(--primary);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

button.add-product-btn:hover {
  box-shadow: 4px 4px 0px var(--primary);
  transform: translate(-2px, -2px);
}

.success {
  color: green;
  margin-top: 10px;
  text-align: center;
}

.error {
  color: var(--error);
  margin-top: 10px;
  text-align: center;
}
