<div class="login-page">
  <div class="login-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="title">
        <h1>Create an account</h1>
        <p>Register using github or google, or enter yoour information bellow</p>
      </div>

      <div class="social-login">
        <button class="social-btn google">
          <fa-icon [icon]="faGoogle"></fa-icon>
          <span>Google</span>
        </button>
        <button class="social-btn github">
          <fa-icon [icon]="faGithub"></fa-icon>
          <span>GitHub</span>
        </button>
      </div>

      <div class="divider">OR</div>
      <div class="input-group">
        <label>Email</label>
        <input type="email" formControlName="email" placeholder="name@example.com" />

        <div
          class="error"
          *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid"
        >
          <small *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</small>
          <small *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email format.</small>
        </div>
      </div>

      <div class="input-group">
        <label>User Name</label>
        <input type="text" formControlName="username" placeholder="Your Name" />

        @if (registerForm.get('username')?.invalid && registerForm.get('username')?.touched) {
        <div class="error">Name is required.</div>
        }
      </div>

      <div class="input-group">
        <label>Password</label>
        <input type="password" formControlName="password" placeholder="••••••••" />

        @if (registerForm.get('password')?.touched && registerForm.get('password')?.invalid) {
        <div class="error">
          @if (registerForm.get('password')?.errors?.['required']) {
          <small>Password is required.</small>
          } @else if (registerForm.get('password')?.errors?.['minlength']) {
          <small> Password must be at least 6 characters. </small>
          }
        </div>
        }
      </div>

      <div class="input-group">
        <label>Repeat Your Password</label>
        <input type="password" formControlName="repeatPassword" placeholder="••••••••" />

        @if (registerForm.get('repeatPassword')?.invalid &&
        registerForm.get('repeatPassword')?.touched) {
        <div class="error">Repeat Your password.</div>
        }
      </div>

      <button class="main-btn" type="submit" [disabled]="registerForm.invalid">Login</button>

      <div class="footer">Don't have an account? <a routerLink="../login">Sign in</a></div>
    </form>
  </div>
</div>
