@if (!loading) {

<!-- If Admin -->
@if (showAddPost) {
<app-add-post (close)="toggleAddPost()"></app-add-post>
}

<!-- Blog Header -->
<div class="blogs-header">
  <h1>Our Blogs</h1>

  <div class="search-bar-container">
    <input type="text" placeholder="Search blogs..." class="search-input" />
    <button class="main-btn" (click)="toggleAddPost()">Add Post</button>
  </div>
</div>

<!-- Posts Section -->
@if (posts.length != 0) {

<div class="blogs-grid">
  @for (p of posts; track $index) {
  <div class="blog-card" [routerLink]="['/posts', p.id]">
    <!-- Image (fallback if missing) -->
    <p class="blog-info">{{ p.author.username }}</p>
    @if (p.mediaUrl) { @if (p.mediaType == "IMAGE") {
    <img class="blog-image" [src]="'http://localhost:8080' + p.mediaUrl" alt="Blog image" />
    } @else {
    <video class="blog-image" [src]="'http://localhost:8080' + p.mediaUrl" controls></video>
    } }

    <div class="blog-info">
      <p class="meta">Insight • {{ p.createdAt | date }}</p>

      <h2 class="blog-title">
        {{ p.title }}
      </h2>

      <p class="blog-desc">
        {{ p.description }}
      </p>
    </div>
  </div>
  }
</div>

} @else {
<div><h2>No Post Yet!</h2></div>
} } @else {
<div class="loading">Loading posts...</div>
}
